@{
    Response.StatusCode = 500;
    Layout = null;
    if (IsAjax)
    {
        Response.Write("Server Error.");
        return;
    }

    const string html = "text/html";
    bool requestingHtml = Request.AcceptTypes.Any(type => html.Equals(type, StringComparison.OrdinalIgnoreCase));

    if (!requestingHtml)
    {
        //não renderiza nada
        return;
    }

    string msg = "Ocorreu um erro.";
    var error = Server.GetLastError();
    if (error != null)
    {
        msg += error.ToString();
    }
    else if (Session["exception"] != null)
    {
        msg += Session["exception"].ToString();
        Session.Remove("exception");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>500...</p>
        <p>@msg</p>
    </div>
</body>
</html>
