@using WebApplication1
@{
    Layout = null;
    if (!UrlData[0].IsEmpty())
    {
        switch (UrlData[0])
        {
            case "404":
                throw new HttpException(404, "teste 404");
            case "500":
                throw new HttpException(500, "teste 500");
            default:
                throw new BusinessRuleException("teste business rule");
        }

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teste Ajax</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="Scripts/jquery-1.10.2.min.js"></script>

    <script src="Scripts/notfoundscript.js"></script>
</head>
<body>
    <p>Status: @Response.StatusCode</p>
    <p>Ajax</p>
    <div id="results"></div>
    <script>
        $(function () {
            function doAjaxRequest(url) {
                var setup = {
                    url: url,
                    statusCode: {
                        200: function () {
                            $("#results").append("<br/>" + url + ": 200");
                        },
                        404: function () {
                            $("#results").append("<br/>" + url + ": 404");
                        },
                        500: function () {
                            $("#results").append("<br/>" + url + ": 500");
                        }
                    }
                };

                $.ajax(setup).always(function () {
                    console.log(arguments);
                });
            }

            doAjaxRequest('/Home/Index');

            doAjaxRequest('/Home/Exception');

            doAjaxRequest('/Home/NotFound');

        });
    </script>
</body>
</html>
